<form action="/" method="post">
  <div class="row">
    <div class="column">
      <div class="search-test">
        <label for="startingLocation">From:</label>
        <select id="startingLocation" name="startingLocation" class="js-select2" onFocus="this.select()">
          <option value="" disabled selected></option>
          <option value="53.51052609482302,-2.2354914324965147">Abraham Moss</option>
          <option value="53.38731636467732,-2.347664458407466">Altrincham</option>
          <option value="53.47437977889592,-2.2859440810775373">Anchorage</option>
          <option value="53.48368492749915,-2.1218861261779187">Ashton Moss</option>
          <option value="53.49023041949676,-2.1097415410241376">Ashton West</option>
          <option value="53.49034887463073,-2.0980618248399545">Ashton-under-Lyne</option>
          <option value="53.478217712934516,-2.1309728622411916">Audenshaw</option>
          <option value="53.39687122084419,-2.2927355414707247">Baguley</option>
          <option value="53.43291084823416,-2.2692912483390515">Barlow Moor Road</option>
          <option value="53.46582016425351,-2.342012517569236">Barton Dock Road</option>
          <option value="53.38725910403963,-2.2562834660390982">Benchill</option>
          <option value="53.54200667313551,-2.286127036853784">Besses o' th' Barn</option>
          <option value="53.52482186699074,-2.249763751886271">Bowker Vale/option>
          <option value="53.47486361369452,-2.2948692023199038">Broadway</option>
          <option value="53.41701891403037,-2.3261984932999815">Brooklands</option>
          <option value="53.429171270500746,-2.240684956330794">Burton Road</option>
          <option value="53.59077820627332,-2.29713921234018">Bury</option>
          <option value="53.47984414955724,-2.155192449109052">Cemetery Road</option>
          <option value="53.50155722767571,-2.1991715554153544">Central Park</option>
          <option value="53.44282658798928,-2.2735544474787575">Chorlton</option>
          <option value="53.482773627989104,-2.1823396577944516">Clayton Hall</option>
          <option value="53.470152398717694,-2.2674495500178753">Cornbrook</option>
          <option value="53.383357668600894,-2.2563351403163634">Crossacres</option>
          <option value="53.517174376921346,-2.2410469875099497">Crumpsall</option>
          <option value="53.430056431644125,-2.311700170104683">Dane Road</option>
          <option value="53.47468704304096,-2.251301962185053">Deansgate-Castlefield</option>
          <option value="53.5498063840891,-2.1015350595550393">Derker</option>
          <option value="53.41672523833394,-2.2286104360642844">Didsbury Village</option>
          <option value="53.47948894547107,-2.144642818920634">Droylsden</option>
          <option value="53.412071065340456,-2.2172836713546347">East Didsbury</option>
          <option value="53.48312020333411,-2.334432062899018">Eccles</option>
          <option value="53.480899517160104,-2.1652902701481462">Edge Lane</option>
          <option value="53.48540557183002,-2.2004187038280434">Etihad Campus</option>
          <option value="53.46768618898423,-2.2822837229898973">Exchange Quay</option>
          <option value="53.484490451239445,-2.2426253707791703">Exchange Square</option>
          <option value="53.51062899748502,-2.1628265969227125">Failsworth</option>
          <option value="53.45139247018347,-2.2778055247433646">Firswood</option>
          <option value="53.537913707159184,-2.137430213333419">Freehold</option>
          <option value="53.47826840493261,-2.2431637784319327">Harbour City</option>
          <option value="53.530494764238284,-2.267296686360161">Heaton Park</option>
          <option value="53.51995098999567,-2.1472964676555852">Hollinwood</option>
          <option value="53.4832670718327,-2.2119896573397484">Holt Town</option>
          <option value="53.468666344385575,-2.2967972011530304">Imperial War Museum</option>
          <option value="53.61129096418788,-2.1243260879675026">Kingsway Business Park</option>
          <option value="53.48405410277047,-2.3268327612938946">Ladywell tram</option>
          <option value="53.48070032362037,-2.2961518566425236">Langworthy tram</option>
          <option value="53.365367963752455,-2.2723847075028054">Manchester Airport</option>
          <option value="53.481944595837156,-2.238688913794792">Market Street</option>
          <option value="53.39188834317462,-2.2798191196115885">Martinscroft</option>
          <option value="53.47214272684726,-2.297118103327451">MediaCityUK</option>
          <option value="53.608217086774864,-2.11208674357275">Milnrow</option>
          <option value="53.50108016265156,-2.210672155572061">Monsall</option>
          <option value="53.40333281217513,-2.2952418204544425">Moor Road</option>
          <option value="53.39596508049746,-2.3433529992715507">Navigation Road</option>
          <option value="53.48102959238834,-2.2197763712483116">New Islington</option>
          <option value="53.613434946087224,-2.1354836511693343">Newbold</option>
          <option value="53.60089979340541,-2.0946615519912926">Newhey</option>
          <option value="53.50419860677226,-2.18389715467572">Newton Heath and Moston</option>
          <option value="53.41461648793169,-2.2881660426183137">Northern Moor</option>
          <option value="53.45580162757028,-2.285468555107905">Old Trafford</option>
          <option value="53.540321179223085,-2.112119469454647">Oldham Central</option>
          <option value="53.53955367517203,-2.1174623145753557">Oldham King Street</option>
          <option value="53.54244064298537,-2.1034153704620464">Oldham Mumps</option>
          <option value="53.542442635287166,-2.1034167115665032">Parkway</option>
          <option value="53.37369227145197,-2.2504120522765634">Peel Hall</option>
          <option value="53.480274369717854,-2.2369812010127936">Piccadilly Gardens</option>
          <option value="53.477150765937395,-2.230605629138348">Piccadilly</option>
          <option value="53.46520560164932,-2.2780209525467803">Pomona </option>
          <option value="53.533256747201,-2.2818731719285714">Prestwich</option>
          <option value="53.501672123696075,-2.2267123266373634">Queens Road</option>
          <option value="53.56227837912578,-2.3210325781464514">Radcliffe </option>
          <option value="53.376783231744106, -2.2598732940044437">Robinswood Road</option>
          <option value="53.611057893243164,-2.154459738094605">Rochdale Railway Station</option>
          <option value="53.6173563652807,-2.15540746235643">Rochdale Town Centre</option>
          <option value="53.39266594330533,-2.289079233120634">Roundthorn</option>
          <option value="53.42420249066739,-2.3190454245268652">Sale</option>
          <option value="53.42828557127916,-2.2907989171979324">Sale Water Park</option>
          <option value="53.47036834124842,-2.2840658048711453">Salford Quays</option>
          <option value="53.36797745471249,-2.252378129488966">Shadowmoss</option>
          <option value="53.57626714403831,-2.089623236013509">Shaw and Crompton</option>
          <option value="53.48526051242471,-2.2391352769676294">Shudehill Interchange</option>
          <option value="53.5267495607264,-2.145254991949691">South Chadderton</option>
          <option value="53.478269410337184,-2.2431617911467203">St Peter's Square</option>
          <option value="53.43884539033874,-2.2657139735788157">St Werburgh's Road</option>
          <option value="53.44604977398917,-2.303717109586243">Stretford</option>
          <option value="53.467864181396024,-2.347656300178613">The Trafford Centre</option>
          <option value="53.404311063229926,-2.3382705735486464">Timperley</option>
          <option value="53.46164688842951,-2.2776190000080825">Trafford Bar</option>
          <option value="53.482348724461126,-2.1930239561111207">Velopark</option>
          <option value="53.48790911875589,-2.241590436097274">Victoria</option>
          <option value="53.46739093684107,-2.309142731158917">Village</option>
          <option value="53.48238349847904,-2.3073693127328876">Weaste </option>
          <option value="53.4244687971475,-2.2359478229872116">West Didsbury</option>
          <option value="53.54241253775948,-2.1257824997459474">Westwood</option>
          <option value="53.46633919831897,-2.287925288851873">Wharfside</option>
          <option value="53.55114787156667,-2.295137284477269">Whitefield</option>
          <option value="53.43286452529551,-2.2493383441121706">Withington</option>
          <option value="53.4077334180489,-2.2956980288141757">Wythenshawe Park</option>
          <option value="53.380104766819265,-2.263800798022294">Wythenshawe Town Centre</option>
        </select>
      </div>
    
      
      <div class="search-test">
        <label for="destinationLocation">To:</label>
        <select id="destinationLocation" name="destinationLocation" class="js-select2" onFocus="this.select()">
          <option value="" disabled selected></option>
          <option value="53.51052609482302,-2.2354914324965147">Abraham Moss</option>
          <option value="53.38731636467732,-2.347664458407466">Altrincham</option>
          <option value="53.47437977889592,-2.2859440810775373">Anchorage</option>
          <option value="53.48368492749915,-2.1218861261779187">Ashton Moss</option>
          <option value="53.49023041949676,-2.1097415410241376">Ashton West</option>
          <option value="53.49034887463073,-2.0980618248399545">Ashton-under-Lyne</option>
          <option value="53.478217712934516,-2.1309728622411916">Audenshaw</option>
          <option value="53.39687122084419,-2.2927355414707247">Baguley</option>
          <option value="53.43291084823416,-2.2692912483390515">Barlow Moor Road</option>
          <option value="53.46582016425351,-2.342012517569236">Barton Dock Road</option>
          <option value="53.38725910403963,-2.2562834660390982">Benchill</option>
          <option value="53.54200667313551,-2.286127036853784">Besses o' th' Barn</option>
          <option value="53.52482186699074,-2.249763751886271">Bowker Vale/option>
          <option value="53.47486361369452,-2.2948692023199038">Broadway</option>
          <option value="53.41701891403037,-2.3261984932999815">Brooklands</option>
          <option value="53.429171270500746,-2.240684956330794">Burton Road</option>
          <option value="53.59077820627332,-2.29713921234018">Bury</option>
          <option value="53.47984414955724,-2.155192449109052">Cemetery Road</option>
          <option value="53.50155722767571,-2.1991715554153544">Central Park</option>
          <option value="53.44282658798928,-2.2735544474787575">Chorlton</option>
          <option value="53.482773627989104,-2.1823396577944516">Clayton Hall</option>
          <option value="53.470152398717694,-2.2674495500178753">Cornbrook</option>
          <option value="53.383357668600894,-2.2563351403163634">Crossacres</option>
          <option value="53.517174376921346,-2.2410469875099497">Crumpsall</option>
          <option value="53.430056431644125,-2.311700170104683">Dane Road</option>
          <option value="53.47468704304096,-2.251301962185053">Deansgate-Castlefield</option>
          <option value="53.5498063840891,-2.1015350595550393">Derker</option>
          <option value="53.41672523833394,-2.2286104360642844">Didsbury Village</option>
          <option value="53.47948894547107,-2.144642818920634">Droylsden</option>
          <option value="53.412071065340456,-2.2172836713546347">East Didsbury</option>
          <option value="53.48312020333411,-2.334432062899018">Eccles</option>
          <option value="53.480899517160104,-2.1652902701481462">Edge Lane</option>
          <option value="53.48540557183002,-2.2004187038280434">Etihad Campus</option>
          <option value="53.46768618898423,-2.2822837229898973">Exchange Quay</option>
          <option value="53.484490451239445,-2.2426253707791703">Exchange Square</option>
          <option value="53.51062899748502,-2.1628265969227125">Failsworth</option>
          <option value="53.45139247018347,-2.2778055247433646">Firswood</option>
          <option value="53.537913707159184,-2.137430213333419">Freehold</option>
          <option value="53.47826840493261,-2.2431637784319327">Harbour City</option>
          <option value="53.530494764238284,-2.267296686360161">Heaton Park</option>
          <option value="53.51995098999567,-2.1472964676555852">Hollinwood</option>
          <option value="53.4832670718327,-2.2119896573397484">Holt Town</option>
          <option value="53.468666344385575,-2.2967972011530304">Imperial War Museum</option>
          <option value="53.61129096418788,-2.1243260879675026">Kingsway Business Park</option>
          <option value="53.48405410277047,-2.3268327612938946">Ladywell tram</option>
          <option value="53.48070032362037,-2.2961518566425236">Langworthy tram</option>
          <option value="53.365367963752455,-2.2723847075028054">Manchester Airport</option>
          <option value="53.481944595837156,-2.238688913794792">Market Street</option>
          <option value="53.39188834317462,-2.2798191196115885">Martinscroft</option>
          <option value="53.47214272684726,-2.297118103327451">MediaCityUK</option>
          <option value="53.608217086774864,-2.11208674357275">Milnrow</option>
          <option value="53.50108016265156,-2.210672155572061">Monsall</option>
          <option value="53.40333281217513,-2.2952418204544425">Moor Road</option>
          <option value="53.39596508049746,-2.3433529992715507">Navigation Road</option>
          <option value="53.48102959238834,-2.2197763712483116">New Islington</option>
          <option value="53.613434946087224,-2.1354836511693343">Newbold</option>
          <option value="53.60089979340541,-2.0946615519912926">Newhey</option>
          <option value="53.50419860677226,-2.18389715467572">Newton Heath and Moston</option>
          <option value="53.41461648793169,-2.2881660426183137">Northern Moor</option>
          <option value="53.45580162757028,-2.285468555107905">Old Trafford</option>
          <option value="53.540321179223085,-2.112119469454647">Oldham Central</option>
          <option value="53.53955367517203,-2.1174623145753557">Oldham King Street</option>
          <option value="53.54244064298537,-2.1034153704620464">Oldham Mumps</option>
          <option value="53.542442635287166,-2.1034167115665032">Parkway</option>
          <option value="53.37369227145197,-2.2504120522765634">Peel Hall</option>
          <option value="53.480274369717854,-2.2369812010127936">Piccadilly Gardens</option>
          <option value="53.477150765937395,-2.230605629138348">Piccadilly</option>
          <option value="53.46520560164932,-2.2780209525467803">Pomona </option>
          <option value="53.533256747201,-2.2818731719285714">Prestwich</option>
          <option value="53.501672123696075,-2.2267123266373634">Queens Road</option>
          <option value="53.56227837912578,-2.3210325781464514">Radcliffe </option>
          <option value="53.376783231744106, -2.2598732940044437">Robinswood Road</option>
          <option value="53.611057893243164,-2.154459738094605">Rochdale Railway Station</option>
          <option value="53.6173563652807,-2.15540746235643">Rochdale Town Centre</option>
          <option value="53.39266594330533,-2.289079233120634">Roundthorn</option>
          <option value="53.42420249066739,-2.3190454245268652">Sale</option>
          <option value="53.42828557127916,-2.2907989171979324">Sale Water Park</option>
          <option value="53.47036834124842,-2.2840658048711453">Salford Quays</option>
          <option value="53.36797745471249,-2.252378129488966">Shadowmoss</option>
          <option value="53.57626714403831,-2.089623236013509">Shaw and Crompton</option>
          <option value="53.48526051242471,-2.2391352769676294">Shudehill Interchange</option>
          <option value="53.5267495607264,-2.145254991949691">South Chadderton</option>
          <option value="53.478269410337184,-2.2431617911467203">St Peter's Square</option>
          <option value="53.43884539033874,-2.2657139735788157">St Werburgh's Road</option>
          <option value="53.44604977398917,-2.303717109586243">Stretford</option>
          <option value="53.467864181396024,-2.347656300178613">The Trafford Centre</option>
          <option value="53.404311063229926,-2.3382705735486464">Timperley</option>
          <option value="53.46164688842951,-2.2776190000080825">Trafford Bar</option>
          <option value="53.482348724461126,-2.1930239561111207">Velopark</option>
          <option value="53.48790911875589,-2.241590436097274">Victoria</option>
          <option value="53.46739093684107,-2.309142731158917">Village</option>
          <option value="53.48238349847904,-2.3073693127328876">Weaste </option>
          <option value="53.4244687971475,-2.2359478229872116">West Didsbury</option>
          <option value="53.54241253775948,-2.1257824997459474">Westwood</option>
          <option value="53.46633919831897,-2.287925288851873">Wharfside</option>
          <option value="53.55114787156667,-2.295137284477269">Whitefield</option>
          <option value="53.43286452529551,-2.2493383441121706">Withington</option>
          <option value="53.4077334180489,-2.2956980288141757">Wythenshawe Park</option>
          <option value="53.380104766819265,-2.263800798022294">Wythenshawe Town Centre</option>
        </select>
      </div>
    </div>
    <div class="top-button-small">
      <button type="submit">Go</button>
    </div>
    <div class="top-button">
      <button type="submit">Go</button>
    </div>
  </div>
    <script>
        $(document).ready(function () {
          $('.js-select2').select2();
        });
    </script>

</form>

<!-- <label for="origins">Origin:</label>
<input list="origins" id="origins" name="origins"/>

<datalist id="origins"> 
    <option value="53.470119,-2.267386">Cornbrook</option> 
    <option value="53.48312020333411,-2.334432062899018">Eccles</option> 
</datalist>

<label for="destination">Destination:</label> 
<input list="origin" id="origin" name="origin"/>

<datalist name="destination" id="destination"> 
    <option value="53.4617,-2.277319">Trafford Bar</option> 
</datalist> -->