<%- include("header") -%>
    <div>
        <div class="container">
            <div >
                <img class="logo" src="/images/tram4u-final.png" alt="tram4u logo">
            </div>
            <div >
                <h1 class="logo-name">Trams4U</h1>
            </div>
            <div class="slogan">Unlocking Manchester's Charm, <br>
                Powered by Tram4U</div>
            <a href="/search"><button class="start-button">Start</button></a>
            
            <footer>Copyright © 2024 NLB All rights reserved.</footer>
        </div>
    </div>
<%- include("footer") -%>