<%- include("header") -%>
    <div class="app">
        <div class="container container-flex">
            <div >
                <img class="logo" src="/images/tram4u.png" alt="tram4u logo">
            </div>
            <div >
                <h1 class="logo-name">Tram4U</h1>
            </div>
            <div class="slogan">Unlocking Manchester's Charm, <br>
                Powered by Tram4U</div>
            <a href="/search"><button class="button1">Start</button></a>
            
            <footer>Copyright © 2024 NLB All rights reserved.</footer>
        </div>
    </div>
<%- include("footer") -%>