<%- include("header") -%>
<div>
    <div class="background">
        <div class="top-container">
            <div class="top-logo">
                <img src="/images/tram4u-final.png" alt="tram4u logo">
                <h1>Tram4U</h1>
            </div>
            <div>
                <%- include("dropdown") -%>
            </div>
        </div>
    </div>
</div>
<%- include("footer") -%>