html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #ffdc44;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  justify-content: center;
}
  
button:hover {
  background-color: #ffdc44;
}

.test {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app {
  background-color: #ccc;
}

.container {
  max-width: 900px;
  height: calc(100vh - 3px);
  margin: 0 auto;
  padding: 20px;
  background-color: #ffdc44;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

footer {
  margin-top: auto;
  padding: 20px;
  color: white;
  text-align: center;
}

.logo {
  height: 400px;
}

.logo-name {
  font-size: 50px;
  font-weight: bold;
  color: #141F23;
}

.slogan {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  padding: 50px 0;
}

.button1 {
  font-size: 20px;
  background-color: #141F23; /* Default background color */
  color: #fff; /* Default text color */
  border: 2px solid #141F23; /* Default border color */
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition effect */
  width: 100px;
}

.button1:hover {
  background-color: #ffdc44; /* Yellow background color on hover */
  color: #141F23; /* Black text color on hover */
}

/* Desktop layout using Flexbox */
.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  flex: 1;
  margin: 10px;
}

/* Mobile layout using Flexbox */
@media only screen and (max-width: 600px) {
  .container-flex {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    font-size: 20px;
  }

  .item {
    width: 100%;
    margin: 10px 0;
  }
}