html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

/* Search page */
label {
  font-weight: bold;
  /* width: 50px; */
  padding-left: 10px;
  color: #141F23;
}

/* Search page */
select {
  width: 225px;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Search page */
button {
  background-color: #141F23;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  justify-content: center;
}
  
button:hover {
  background-color: #ffdc44;
  outline: #141F23 solid 1px;
  color: #141F23;
  font-weight: bold;
}

.top-button-small {
  display: none;
}

.container {
  max-width: 430px;
  height: 100vh;
  /* max-height: fit-content; */
  margin: 0 auto;
  padding: 20px;
  background-color: #ffdc44;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: auto;
  padding: 20px;
  color: white;
  text-align: center;
  display: none;
}

.logo {
  height: 300px;
}

.logo-name {
  font-size: 50px;
  font-weight: bold;
  color: #141F23;
}

.slogan {
  font-size: 23px;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  font-style: italic;
  padding-top: 20px;
}

.start-button {
  font-size: 20px;
  background-color: #141F23;
  color: #fff;
  border: 2px solid #141F23;
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
  margin-top: 75px;
}

.start-button:hover {
  background-color: #ffdc44;
  color: #141F23;
}

.top-container {
  max-width: 430px;
  height: 225px;
  max-height: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffdc44;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 4px 2px -2px gray;;
}

.search-test {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  width: auto;
  justify-content: space-between;
}

.top-logo {
  display: flex;
  align-items: center;
}

.top-logo img {
  height: 75px;
  padding-bottom: 10px;
}

.top-logo h1 {
  font-size: 35px;
  font-weight: bold;
  color: #141F23;
}

.top-button {
  display: flex;
  justify-content: center;
}

.background {
  background-image: url('/images/manchester-map-newnewnew.png');
  height: 100vh;
  background-repeat: no-repeat;
  width: 375px;
  /* max-height: fit-content; */
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.results-container {
  height: auto;
  width: 100%;
  max-width: 300px;
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* grid-template-columns: 1fr 1fr 300px; */
  /* grid-column-gap: 10px; */
  outline: none;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  font-family: monospace;
  font-size: 12px;
  line-height: 25px;
}

.headsign {
  border-bottom: #141F23 solid 1px;
  background-color: #d6b41b;
  width: 100%;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.departure {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  border-bottom: #141F23 solid 1px;
  width: 100%;
  height: auto;
}

.arrival {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.departure-station {
  background-color: #d6b41b;
  border-right: #141F23 solid 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 105px;
  max-width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.arrival-station {
  background-color: #d6b41b;
  border-right: #141F23 solid 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 105px;
  max-width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 0 0 0 20px;
}

.departure-station p, .arrival-station p {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-weight: bold;
}

.departure-time, .arrival-time {
  display: flex;
  flex-direction: column;
  padding: 7px;
  line-height: 25px;
  width: 100%;
  margin: 0 10px 0 10px;
}

.departure-time p, .arrival-time p {
  display: flex;
  justify-content: space-between;
  width: 100%;
}



/* TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST */
.results-container-1 {
  /* background-color: rosybrown; */
  width: 80%;
  text-align: center;
  border-radius: 5px 5px 0 0;
  margin: auto;
  margin-top: 50px;
  color: white;
  text-shadow: black 0px 0px 3px;
}

.p-results {
  font-size: 15px;
  font-family: monospace;
  padding: 5px 0 5px 0;
}




.results-container-2 {
  background-color: white;
  display: flex;
  width: 80%;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: auto;
  height: auto; /* NEED TO SPECIFY A HEIGH */
}

.station-name-container-2 {
  background-color: yellow;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid;
  color: white;
  text-shadow: black 0px 0px 3px;
}

.p-name {
  font-size: 13px;
  font-family: monospace;
}

.time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.p-top, .p-bottom {
  font-size: 12px;
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}




.results-container-3{
  background-color: white;
  display: flex;
  width: 80%;
  text-align: center;
  margin: auto;
  height: auto; /* NEED TO SPECIFY A HEIGH */
  border-radius: 0 0 5px 5px;
}

.station-name-container-3 {
  background-color: greenyellow;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid;
  border-radius: 0 0 0 5px;
  color: white;
  text-shadow: black 0px 0px 3px;
}


/* UNIQUE BOX */
.results-container-1-unique {
  /* background-color: rosybrown; */
  width: 90%;
  text-align: center;
  border-radius: 5px 5px 0 0;
  margin: auto;
  margin-top: 50px;
  color: white;
  text-shadow: black 0px 0px 3px;
}

.p-results-unique {
  font-size: 15px;
  font-family: monospace;
  padding: 5px 0 5px 0;
}




.results-container-2-unique {
  background-color: white;
  display: flex;
  width: 90%;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: auto;
  height: auto; /* NEED TO SPECIFY A HEIGH */
}

.station-name-container-2-unique {
  background-color: yellow;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid;
  color: white;
  text-shadow: black 0px 0px 3px;
}

.p-name-unique {
  font-size: 13px;
  font-family: monospace;
}

.time-unique {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.p-top-unique, .p-bottom-unique {
  font-size: 12px;
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}




.results-container-3-unique {
  background-color: white;
  display: flex;
  width: 90%;
  text-align: center;
  margin: auto;
  height: auto; /* NEED TO SPECIFY A HEIGH */
  border-radius: 0 0 5px 5px;
}

.station-name-container-3-unique {
  background-color: greenyellow;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid;
  border-radius: 0 0 0 5px;
  color: white;
  text-shadow: black 0px 0px 3px;
}


/* FIXING SCREEN HEIGH */
@media only screen and (max-height: 610px) {
  .logo {
    height: 250px;
  }
}

@media only screen and (max-height: 665px) {
  .top-logo{
    height: 70px;
  }

  .top-container{
    height: 180px;
  }

  .top-button {
    display: none;
  }

  .top-button-small {
    display: flex;
    /* height: 70%; */
    padding: 20px 0 20px 0;
    /* display: none; */
  }

  .js-select2{
    width: 85%;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 100%;
  }
}

/* FIXING SCREEN WIDTH */

/* @media only screen and (max-width: 1200px) {
  .container-flex {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 20px;
  }

  .item {
    width: 100%;
    margin: 10px 0;
  }
} */

@media (max-width: 391px) and (max-height: 667px) {
  .search-test{
    height: 25px;
  }

  .top-button-small {
    display: none;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .top-button {
    display: flex;
    height: 35px;
  }

  .top-logo {
    height: 50px;
  }

  .top-logo img {
    height: 50px;
  }

  .top-logo h1 {
    font-size: 20px;
  }

  .column {
    margin: 1px;
  }
}

@media only screen and (min-width: 375px) {
  .background {
    width: 100%;
  }
}
