html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Search page */
label {
  font-weight: bold;
  width: 50px;
  padding-left: 10px;
  color: #141F23;
}

/* Search page */
select {
  width: 225px;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Search page */
button {
  background-color: #141F23;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  justify-content: center;
}
  
button:hover {
  background-color: #ffdc44;
  border: #141F23 solid 1px;
  color: #141F23;
  font-weight: bold;
}

.container {
  max-width: 375px;
  height: 100vh;
  max-height: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffdc44;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: auto;
  padding: 20px;
  color: white;
  text-align: center;
  display: none;
}

.logo {
  height: 300px;
}

.logo-name {
  font-size: 50px;
  font-weight: bold;
  color: #141F23;
}

.slogan {
  font-size: 23px;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  font-style: italic;
  padding-top: 20px;
}

.start-button {
  font-size: 20px;
  background-color: #141F23;
  color: #fff;
  border: 2px solid #141F23;
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
  margin-top: 75px;
}

.start-button:hover {
  background-color: #ffdc44;
  color: #141F23;
}

.top-container {
  max-width: 375px;
  height: 275px;
  max-height: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffdc44;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 4px 2px -2px gray;;
}

.search-test {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
}

.top-logo {
  display: flex;
  align-items: center;
}

.top-logo img {
  height: 125px;
  padding-bottom: 10px;
}

.top-logo h1 {
  font-size: 35px;
  font-weight: bold;
  color: #141F23;
}

.top-button {
  display: flex;
  justify-content: center;
}

.background {
  background-image: url('/images/manchester-road-map-test.png');
  height: 100vh;
  background-repeat: no-repeat;
  max-width: 375px;
  max-height: fit-content;
  margin: 0 auto;
}





/* Desktop layout using Flexbox */
@media only screen and (max-width: 1200px) {
  .container-flex {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 20px;
  }

  .item {
    width: 100%;
    margin: 10px 0;
  }
}